/** Front Page */

#sitepaad-header {
  h1 {
    display: flex;
  }
}

.h1-img {
  margin-left: 10px;
}

#front-page-featured {
  .card {
    background-color: transparent !important;
    border: none;
  }
}
