/** Front Page */

#sitepaad-header {
  h1 {
    display: flex;
  }
}

.h1-img {
  margin-left: 10px;
}

.card-columns {
  &.home {
    .card:nth-child(5) {
      .card-body {
        background-color: $sitepad-red;
        color: $font-white;
        a.btn.btn-block.btn-outline-primary {
          color: $font-white;
          border-color: $border-white;
        }
      }
    }
  }
}