/** Globals */

.telephone-number {
  font-size: 1rem;
  margin: 0 0 0 auto;
  display: flex;
  text-align: right;
  float: right;
}

.calendly-badge-widget {
  right: auto !important;
  left: 20px !important;
}

.calendly-badge-widget {
  .calendly-badge-content {
    height: 60px !important;
    border-radius: 5px !important;
  }
}

.small-price {
  font-size: 26px;
  line-height: 1.2;
}

.section-wrap {
  margin: 5.618em auto 0 auto;
}