/** Globals */

.grecaptcha-badge {
  visibility: hidden;
}

.telephone-number {
  font-size: 1rem;
  margin: 0 0 0 auto;
  display: flex;
  text-align: right;
  float: right;
}

.calendly-badge-widget {
  right: auto !important;
  left: 20px !important;
}

.calendly-badge-widget {
  .calendly-badge-content {
    height: 60px !important;
    border-radius: 5px !important;
  }
}

.small-price {
  font-size: 26px;
  line-height: 1.2;
}

.section-wrap {
  margin: 5.618em auto 0 auto;
}

.dedicated-ip {
  margin-bottom: 1em;
  padding: 1em .5em !important;
  height: 74px;
  width: 100% !important;
  img {
    width: 100% !important;
  }
}

.quic-cloud-logo {
  margin-bottom: 1em;
  background-color: #004262 !important;
  padding: 1em .5em !important;
  height: 74px;
  width: 100% !important;
  img {
    width: 100% !important;
  }
}

.litespeed-logo {
  margin-bottom: 1em;
  padding: 1em .5em !important;
  height: 74px;
  width: 100% !important;
  img {
    width: 100% !important;
  }
}

.cpanel-logo {
  margin-bottom: 1em;
  padding: 1em .5em !important;
  height: 74px;
  width: 100% !important;
  img {
    width: 100% !important;
  }
}

@media (max-width: 1199.98px) {
  .dedicated-ip {
    height: auto;
  }
  .cpanel-logo {
    height: auto;
  }
  .litespeed-logo {
    height: auto;
  }
  .quic-cloud-logo {
    height: auto;
  }
}